@import url(https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bitter", serif;
  background: #dfe7ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #71829e;
}

button {
  border: 0;
  background-color: transparent;
  transition: 0.3s;
  &:hover button::after {
    content: "";
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
  }
}

i {
  padding: 5px;
  cursor: pointer;
  color: #acb8cc;
  background-color: transparent;
  transition: 0.3s ease;
  border-radius: 50%;
  position: relative;
  transition: 1s ease;
  width: 50px;
  height: 50px;
  &:hover {
    box-shadow: 10px 10px 40px 0px rgba(76, 70, 124, 0.5);
  }
}

.player {
  background: #eef3f7;
  width: 410px;
  min-height: 480px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  border-radius: 15px;
  padding: 30px;
}
.top {
  display: flex;
}
.player-img {
  position: relative;
  left: -60px;
  height: 300px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 10px 40px 20px rgba(76, 70, 124, 0.5);
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hidden {
  display: none;
}

.like {
  color: red;
}

.btn {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

#btnPlay,
#btnPause {
  position: relative;
  i {
    color: #fff;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #fff;

    position: absolute;
    left: -15px;
  }
}

#songTitle {
  margin-top: 25px;
  font-size: 25px;
}

.proccess {
  margin-top: 25px;
  background-color: #afbcd1;
  width: 95%;
  height: 5px;
  border-radius: 15px;
  div {
    margin-top: -10px;
    height: inherit;
    border-radius: inherit;
    background-color: #71829e;
  }
}

.time {
  margin-top: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

/* .animation {
  animation: songAnimation 10s linear infinite;
  animation-play-state: paused;
}

.player.playing .animation {
  animation-play-state: running;
  border-radius: 50%;
}

@keyframes songAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
